<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="dataNasc">
    <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.dataNasc}} </td>
  </ng-container>

  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
  </ng-container>

  <ng-container matColumnDef="cpfCnpj">
    <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
    <td mat-cell *matCellDef="let element"> {{element.cpfCnpj}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoPessoa">
    <th mat-header-cell *matHeaderCellDef> Tipo Pessoa </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoPessoa}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

